<include file='common/meta' />

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form"  lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" value="{:input('id')}">

                <div class="layui-form-item">
                    <label class="layui-form-label">快递公司</label>
                    <div class="layui-input-block">
                        <select class="layui-select" name="logistics_id" lay-search>
                            <foreach name="logistics" item="vo">
                                <option value="{$vo.id}">{$vo.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">快递单号</label>
                    <div class="layui-input-block">
                        <input name="logistics_no" required value='{$vo.logistics_no|default=""}' placeholder="请输入快递单号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form'],function() {
        var form = layui.form;
    });

    // 表单提交
    fromUpload('form',"{:url('Point/delivery')}",function(data){
        if(data.code == 200){
            layer.msg(data.msg,{time:1000},function(){
                //返回上一页刷新
                parent.refresh();
            });
        } else {
            layer.msg(data.msg,{time:3000});
        }
    });
</script>
