<!-- 引入头部 -->
<include file='common/meta' />

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-admin" onclick="save('{:url('admins/addAdmin')}',2)" data-type="add">添加管理员</button>
            </div>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>管理员昵称</td>
                        <td>登录账号</td>
                        <td>添加时间</td>
                        <td>上次修改时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                <foreach name="admin" item="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.admin_user}</td>
                        <td>{$vo.addtime}</td>
                        <td>{$vo.update_time}</td>
                        <td>
                            <if condition="$vo['forst'] eq 0">
                                <button class="layui-btn layui-btn-xs">正常</button>
                            <else/>
                                <button class="layui-btn layui-btn-warm layui-btn-xs">冻结</button>
                            </if>
                        </td>
                        <td>
                            <if condition="$vo['id'] neq 1">
                                <if condition="$vo['forst'] eq 0">
                                    <span><a href="#" onclick="bssc({$vo.id},1)">禁用</a></span>
                                <else/>
                                    <span><a href="#" onclick="bssc({$vo.id},0)">激活</a></span>
                                </if>
                                <span>|</span>
                                <span>
                                    <if condition="$vo.id eq $Think.session.AdminInfo.id">
                                    <a onclick="save('{:url('admins/editAdmin',array('id'=>$vo['id']))}',1)" href="#">编辑</a>
                                    <else/>
                                    <a onclick="save('{:url('admins/addAdmin',array('id'=>$vo['id']))}',1)" href="#">编辑</a>
                                    </if>
                                </span>
                                <span>|</span>
                                <span><a href="javascript:del({$vo['id']})">删除</a></span>
                            <else>
                                <span><a href="#" onclick="save('{:url('admins/addAdmin',array('id'=>$vo['id']))}',1)">修改资料</a></span>
                            </if>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function save(url,type)
    {   
        if(type == 1){
            var title = '编辑管理员';
        }else{
            var title = '添加管理员';
        }
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['400px', '480px'],
            content: url
        });
    }

    function refresh(){
        setTimeout("location.reload()", 2000);
    }

    function del(id) {
        layer.confirm('是否删除', {icon: 3, title:'是否删除'}, function(index) {
            $.ajax({
                url:"{:url('Admins/deleAdmin')}",
                data:{
                    'id':id
                },
                type:'post',
                dataType:'json',
                success:function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1, time: 2000});
                        setTimeout("location.reload()", 2000);
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 2000});
                    }
                    layer.close(index);
                },
                error:function () {
                    layer.msg('网络错误，请稍后再试', {icon: 2, time: 2000});
                    layer.close(index);
                }
            });
        });
    }

    //禁用 激活
    function bssc(id, bs) {
        if (bs == 1) {
            var tips = '是否禁用';
        } else {
            var tips = '是否激活';
        }
        layer.confirm(tips, {icon: 3, title:tips}, function(index) {
            $.ajax({
                url:"{:url('Admins/isStatus')}",
                data:{
                    'id':id, 
                    'bssc':bs
                },
                type:'post',
                dataType:'json',
                success:function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1, time: 2000});
                        setTimeout("location.reload()", 2000);
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 2000});
                    }
                    layer.close(index);
                },
                error:function () {
                    layer.msg('网络错误，请稍后再试', {icon: 2, time: 2000});
                    layer.close(index);
                }
            });
        });
    }
</script>
               