<!-- 引入头部 -->
<include file='common/meta' />

<style>
	.layui-card-header{
		background:#cecece;
	}
	a{
		color:#34538b;
	}
</style>

<div class="layadmin-tabsbody-item layui-show">
	<div class="layui-card layadmin-header">
	 	<div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a>
            <span lay-separator="">/</span>
            <a><cite>后台管理</cite></a>
            <span lay-separator="">/</span>
            <a><cite>权限列表</cite></a>
        </div>
	</div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-col-xs6 layui-col-md12">
            	<div style="padding-bottom: 10px;">
                    <a href="{:url('Admins/addNode')}" class="layui-btn layuiadmin-btn-admin" data-type="add">添加控制器</a>
                </div>
                <!-- 填充内容 -->
                <div class="layui-form-item" pane="">
                    <foreach name="controller" item="vo">
                        <div class="layui-card">
                            <div class="layui-card-header">{$vo.title} 
                                [<a href="{:url('Admins/addMethod',array('pid'=>$vo['id'],'type'=>'add'))}">添加方法</a>]
                                [<a href="{:url('Admins/addNode',array('id'=>$vo['id']))}">修改</a>]
                                [<a href="###" onclick="del({$vo.id},1)">删除</a>]
                            </div>
                            <div class="layui-card-body layui-form">
                                <input type="hidden" name="id" class="id" value="{:input('id')}" />
                                <foreach name="$vo['node']" item="val">
                                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                                        <span>{$val.title} [<a href="{:url('Admins/addMethod',array('id'=>$val['id']))}">修改</a>] [<a href="###" onclick="del({$val.id},2)">删除</a>]</span>
                                    </div>
                                </foreach>
                            </div>
                        </div>
                    </foreach>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function del(id,type) {
        if(type == 1){
            var title = '删除控制器，将会同步删除控制器下面的方法';
        }else{
            var title = '是否删除';
        }
        layer.confirm(title, {icon: 3, title:'是否删除'}, function(index) {
            $.ajax({
                type:'post',
                url:"{:url('Admins/deleAll')}",
                data:{
                    id:id,
                    type:type
                },
                dataType:'json',
                success:function(data){
                    if(data.code == 200){
                        layer.msg(data.msg, {icon: 1, time: 1000},function(){
                            location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 3000});
                    }
                },
                error:function(){
                    layer.msg('网络错误，请稍后再试', {icon: 2, time: 2000});
                }
            })
        });
    }
</script>