<include file='common/meta' />
<style>
    .layui-table-cell{  /*最后的pic为字段的field*/
      height: 100%;
      max-width: 100%;
    } 
    p{
        line-height:20px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
    <form action="{:url('Group/order_excel')}" method="post">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">订单信息</div>

                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                         <div class="layui-inline">
                            <label class="layui-form-label">关键字</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keywords" placeholder="手机号,订单号,快递单号,商品名称" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label">会员关键字</label>
                            <div class="layui-input-inline">
                                <input type="text" name="user_keywords" placeholder="会员ID、会员昵称" autocomplete="off" class="layui-input">
                            </div>

                             <label class="layui-form-label">下单时间</label>
                             <div class="layui-input-inline">
                                <input type="text" name="start_time" placeholder="请输入开始时间" autocomplete="off" class="layui-input" id="start">
                            </div>
                             <div class="layui-form-mid">-</div>
                              <div class="layui-input-inline">
                                 <input type="text" name="end_time" placeholder="请输入结束时间" autocomplete="off" class="layui-input" id="end">
                             </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </div>
                        </div>
                       <div class="layui-inline">
                         <button class="layui-btn layui-btn-normal">导出数据</button>
                     </div>
                    </div>

                </div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script>
    layui.use(['table','form','laydate'],function(){
          var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;
        var url = "{:url('Group/order')}";

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:url,
            method:'post',
            response:{
                statusCode:200
            },
            page:{
                layout:['prev','page','next','skip','count']
            },
            limit:20,
            cols:[[
                {field:'id',title:'编号',width:'4%'},
                // {field:'order_sn',width:'11%',title:'订单编号'},
                {title:'订单信息',templet:function(d){
                    var str = '';
                    str += '<p>订单号：'+d.order_sn+'</p>';
                    str += '<p>团单号：'+d.group_no+'</p>';
                    return str;
                }},
                {title:'商品信息',templet:function(d){
                    return '<img src="'+d.goods_pic+'" style="width:50px;margin-right:5px" alt="" />'+d.goods_title;
                }},
                {title:'订单价格',templet:function(d){
                    var str = '';
                    str += '<p>应付：￥'+d.order_price+'</p>';
                    str += '<p>实付：￥'+d.pay_money+'</p>';
                    return str;
                }},
                {title:'收货信息',templet:function(d){
                    var str = '';
                        str += '<p>'+d.name+'</p>';
                        str += '<p>'+d.tel+'</p>';
                        str += '<p>'+d.address+'</p>';
                    return str;
                }},
                {title:'拼团状态',width:'6%',align:'center',templet:function(d){
                    return d.group_status_name;
                }},
                {field:'end_time',width:'10%',title:'拼团结束时间'},
                {title:'订单状态',width:'6%',align:'center',templet:function(d){
                    return d.status_name;
                }},
                {field:'add_time',width:'10%',title:'下单时间'},
                {
                    title:'操作',
                    toolbar:'#barDemo'
                }
            ]]
        })

         laydate.render({
                    elem:"#end",
                    type:'datetime',

                })

                var end = laydate.render({
                    elem:"#start",
                    type:'datetime',
                     max:'new Date()'
                })
    })
  function refresh() {
        setTimeout("location.reload()");
    }
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Group/info')}?id={{d.id}}">查看</a>
  <a class="layui-btn layui-btn-xs open" url="{:url('Group/order_save')}?id={{d.id}}">编辑</a>
    {{# if (d.status=== 1) { }}
             <div class="layui-btn layui-btn-xs layui-btn-sm" onclick="closeOrder('{{d.id}}', 2,1)">确认付款</div>
            <!-- <a class="layui-btn layui-btn-xs updates"  data-confirm="true" table="order" key="status" val="6" data-id="{{d.id}}" onclick lay-event="status">关闭订单</a> -->
            <div class="layui-btn  layui-btn-xs layui-btn-sm" onclick="closeOrder('{{d.id}}', 8,2)">关闭订单</div>
    {{# } }}
  {{# if(d.status == 2 && d.group_status == 2){ }}
    <a class="layui-btn layui-btn-xs open" width="35%" height="50%" data-title="拼团订单发货" url="{:url('Group/delivery')}?id={{d.id}}">发货</a>
  {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs odd" data-confirm="true" table="group_order" key="is_deleted" val="2" data-id="{{d.id}}" lay-event="del">删除</a>
</script>

<script>

    function closeOrder(id,status,type){
        var data = {
            id:id,
            status:status,
            type:type,
        };
        get_request("{:url('Group/closeOrder')}",data);
    }
</script>
