<include file='common/meta' />
<style>
    .hr-line-dashed{border-top:1px dashed #e7eaec;color:#fff;background-color:#fff;height:1px;margin:20px 0}
</style>
<div class="layui-fluid layadmin-homepage-fluid">
    <div class="layui-row layui-col-space8">
        <div class="layui-form" lay-filter="layuiadmin-form-admin">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md12">
                    <div class="layui-card-header" style="background-color: #f2f2f2;border: 1px solid #e6e6e6">
                        订单信息
                    </div>
                    <div class="layui-card layui-fluid">
                        <div class=" layui-fluid" style="display: flex;height: 100%">
                            <div class="layui-col-sm2">订单编号：{$data.order_sn}</div>
                            <div class="layui-col-sm2">订单状态：{$data.status_name}</div>
                            <div class="layui-col-sm2">下单时间：{$data.add_time}</div>
                            <div class="layui-col-sm2">支付时间：{$data.pay_at}</div>
                            <div class="layui-col-sm2">应付金额：&yen; {$data.order_price|default='0'}</div>
                            <div class="layui-col-sm2">实付金额：&yen; {$data.pay_money|default='0'}</div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class=" layui-fluid" style="display: flex;height: 100%">
                            <div class="layui-col-sm2">快递公司：{$data.logistics_name|default='待发货'}</div>
                            <div class="layui-col-sm2">快递单号：{$data.logistics_no|default='待发货'}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form" lay-filter="layuiadmin-form-admin">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md12">
                    <div class="layui-card">
                        <table class="layui-table" lay-skin="line" style="margin:0">
                            <thead>
                            <tr>
                                <td>砍价商品</td>
                                <td>商品单价</td>
                                <td>总金额</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="display:flex;align-items: center;">
                                    <div>
                                        <img style="width:100px" src="{$data.goods_pic}" alt="">
                                    </div>
                                    <div>
                                        <span style="margin-left:1.5rem">{$data.goods_title}</span>
                                    </div>
                                </td>
                                <td>&yen; {$data.goods_price}</td>
                                <td style="color:#f00">&yen; {$data.goods_price}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form" lay-filter="layuiadmin-form-admin">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md12">
                    <div class="layui-card-header" style="background-color: #f2f2f2;border: 1px solid #e6e6e6">
                        收货信息
                    </div>
                    <div class="layui-card layui-fluid">
                        <div class=" layui-fluid" style="display: flex;height: 100%">
                            <div class="layui-col-sm2">收货人：{$data.name}</div>
                            <div class="layui-col-sm2">联系电话：{$data.tel}</div>
                            <div class="layui-col-sm2">详细地址：{$data.address}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form " lay-filter="layuiadmin-form-admin">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md12">
                    <div class="layui-card-header" style="background-color: #f2f2f2;border: 1px solid #e6e6e6">
                        其他信息
                    </div>
                    <div class="layui-card layui-fluid">
                        <div style="display: flex;">
                            <div class="layui-card-body layuiadmin-card-list">
                                <p>用户留言：{$data.remark|default=''}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="layui-form-item" style="text-align: right">
            <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
        </div>
    </div>
</div>
<include file='common/edit' />