<include file='common/meta' />

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" id="goods_id" value="{:input('id')}">

                <div class="layui-form-item">
                    <label class="layui-form-label">商品标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="{$goods.title}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品封面</label>
                    <div class="layui-input-block layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal file" id="test1"><i class="layui-icon"></i>上传封面</button>
                        <input class="layui-upload-file" type="file" accept="undefined" name="file" id="test1s">
                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品相册</label>
                    <div class="layui-input-block layui-upload">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test2"><i class="layui-icon"></i>上传相册</button><input class="layui-upload-file" type="file" accept="undefined" multiple="">
                             
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览图：
                                <div class="layui-upload-list">
                                    <div style="display: flex;" id="demo2">
                                    
                                        <foreach name="goods.images" item="vo">
                                            <div style="margin:0 10px" class="deledata">
                                                <img style="width:100px;margin:0 10px" src="{$vo}" alt="" class="layui-upload-img">
                                                <div class="dele" style="text-align:center;border:1px solid #999;margin-top:5px;cursor:pointer">删除</div>
                                                <input type="hidden" name="files[]" value="{$vo}"/>
                                            </div>
                                        </foreach>
                                    
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">秒杀时段</label>
                    <div class="layui-input-block">
                        <select name="time_id" id="" class="layui-input">
                            <option value="">请选择商品秒杀时段</option>
                            <foreach name="$time" item="vo">
                                <option value="{$vo.id}" <if condition="$vo.id eq $goods.time_id">selected</if>>{$vo.start_time} 至 {$vo.end_time}</option>
                            </foreach>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-block">
                        <input type="text" name="price" value="{$goods.price}" lay-verify="required|number"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">市场价格</label>
                    <div class="layui-input-block">
                        <input type="text" name="old_price" value="{$goods.old_price}" lay-verify="required|number"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">运费</label>
                    <div class="layui-input-block">
                        <input type="text" name="fare_price" value="{$goods.fare_price}" lay-verify="required|number"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">库存数</label>
                    <div class="layui-input-block">
                        <input type="text" name="stock" value="{$goods.stock}" lay-verify="required|number"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

            <if condition="!empty($label)">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品标签</label>
                    <div class="layui-input-block">
                    <foreach name="$label" item="vo">
                        <if condition="$goods">
                            <input type="checkbox" name="label_id[]" value="{$vo.id}" title="{$vo.title}" <if condition="in_array($vo.id,$goods.label_id)">checked</if>>
                        <else/>
                             <input type="checkbox" name="label_id[]" value="{$vo.id}" title="{$vo.title}">
                        </if>
                    </foreach>
                    </div>
                </div>
            </if>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品参数</label>
                    <div class="layui-input-block">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">图文详情</li>
                                <li>商品参数</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <textarea placeholder="请输入商品详情" lay-verify="required" name="desc" class="layui-textarea edit">{$goods.desc}</textarea>
                                </div>

                                <div class="layui-tab-item">
                                    <textarea placeholder="请输入商品参数" lay-verify="required" name="parameter" class="layui-textarea edit">{$goods.parameter}</textarea>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

                   

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file='common/edit' />
<script>
    layui.use(['upload','laydate','form','element'],function(){
        var upload = layui.upload;
        var form = layui.form;
        var element = layui.element;

        //封面上传
        upload.render({
            elem: '#test1',
            auto: false,
            field:'pic',
            //,multiple: true
            bindAction: '#test1s',
            done: function(res){
              console.log(res)
            }
        });

        //多图片上传
        upload.render({
            elem: '#test2',
            url:"/admin/common/fileupload.html",
            multiple:true,
            number:6,
            size:'3000',
            choose: function(obj){
                var files = obj.pushFile();
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    str = '<div style="margin:0 10px" class="deledata"><img style="width:100px;margin:0 10px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img"><div class="dele" style="text-align:center;border:1px solid #999;margin-top:5px;cursor:pointer">删除</div></div>';
                    $('#demo2').append(str);
                });
                $('.add_img').remove();
            },
            done:function(res, index, upload){
                console.log(res);
                $('#demo2').append('<input class="add_img" type="hidden" name="files[]" value="'+res.link+'"/>');
            }
        });

    });

    //表单上传
    fromUpload('form',"{:url('Spike/save')}");

    $('.edit').editable({
        inlineMode: false, 
        alwaysBlank: true,
        language: "zh_cn",
        imageUploadURL:"{:url('common/fileUpload')}"
    }) 
</script>