<include file='common/meta' />

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">
            <form action="" class="layui-form">
                <input type="hidden" name="id" value="{:input('id')}">

                <div class="layui-form-item">
                    <label class="layui-form-label">秒杀时段</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_time" value="{$list.start_time}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input" id="start">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_time" value="{$list.end_time}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input" id="end">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">
                        <!-- <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['laydate'],function(){
        var laydate = layui.laydate;

        laydate.render({
            elem:"#start",
            type:'datetime',
            min:'new Date()',
            done:function(value,date){
                console.log(date);
                end.config.min = {
                    year:date.year,
                    month:date.month-1, 
                    date: date.date,
                    hours:date.hours,
                    minutes:date.minutes,
                };
                if(value > $('#end').val()){
                    $('#end').val('');
                }
            }
        })

        var end = laydate.render({
            elem:"#end",
            type:'datetime',
        })

    });

    //表单上传
    fromUpload('form',"{:url('Spike/time_save')}");
</script>