<include file='common/meta' />

<style>

    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;border:1px solid #eee;}

    .spec{float:right;width:80%;margin: 0 5px 10px 3px}

    .remove{width:4% !important;margin:10px 0 0 0;color:#FF5722;cursor:pointer;}

    .removes{color:#FF5722;cursor:pointer;}

    .layui-input-inline{margin-right:2px !important;}

    .layui-unselect{float:left;}

    .pane{width:13% !important;}

</style>

<div class="layui-fluid">

    <div class="layui-card">

        <div class="layui-form" lay-filter="layuiadmin-form-admin" style="padding: 20px 30px 1px 0;">

            <form action="" class="layui-form">

                <input type="hidden" name="id" id="id" value="{:input('id')}">


                <div class="layui-form-item">

                    <label class="layui-form-label">商品标题</label>

                    <div class="layui-input-block">

                        <input type="text" name="goods_title" value="{$evaluate.goods_title}" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input" readonly="readonly">

                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" value="{$evaluate.nickname}" lay-verify="required"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">

                    <label class="layui-form-label">头像</label>

                    <div class="layui-input-block layui-upload">

                        <button type="button" class="layui-btn layui-btn-normal file" id="test1"><i class="layui-icon"></i>上传头像</button>

                        <input class="layui-upload-file" type="file" accept="undefined" name="file" id="test1s">

                        <span class="layui-inline layui-upload-choose">支持 png、jpg、jpeg 格式文件</span>

                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">星级</label>
                    <div class="layui-input-block">
                        <input type="text" name="star" value="{$evaluate.star}" lay-verify="required"  autocomplete="off" placeholder="请输入内容" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">

                    <label class="layui-form-label">评论内容</label>

                    <div class="layui-input-block">

                        <textarea placeholder="请输入" lay-verify="required" name="content" class="layui-textarea">{$evaluate.content}</textarea>

                    </div>

                </div>


                


                <div class="layui-form-item">

                    <label class="layui-form-label"></label>

                    <div class="layui-input-inline">

                        <input type="button" lay-submit id="transmit" lay-filter="LAY-user-back-submit" value="确认" class="layui-btn">

                        <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

<include file='common/edit' />

<script>

    layui.use(['upload','laydate','form','element'],function(){

        var upload = layui.upload;

        var form = layui.form;

        var element = layui.element;



        //封面上传

        upload.render({

            elem: '#test1',

            auto: false,

            field:'head_img',

            //,multiple: true

            bindAction: '#test1s',

            done: function(res){

              console.log(res)

            }

        });


    });



    //表单上传
    fromUpload('form',"{:url('Goods/evaluate_edit')}");



    $('.edit').editable({

        inlineMode: false, 

        alwaysBlank: true,

        language: "zh_cn",

        imageUploadURL:"{:url('common/fileUpload')}"

    }) 

</script>