<include file='common/meta' />

<style>

    .layui-table-cell{height: auto !important;}

</style>

<div class="layui-fluid">

    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">

            <div class="layui-card">

                <div class="layui-card-header">签到配置</div>







                <div class="layui-card-body">

                    <table class="layui-hide" id="test-table-autowidth"></table>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    layui.use(['table','form','layer'],function(){

        var table = layui.table,form = layui.form;

        var url = "{:url('Config/sign')}";



        //监听搜索

        form.on('submit(LAY-app-contlist-search)', function(data){

            var field = data.field;

            field.page = 1;

            //执行重载

            table.reload('test-table-autowidth', {

                where: field

            });

        });



        table.render({

            elem: '#test-table-autowidth',

            url:url,

            method:'post',

            response:{

                statusCode:200

            },

            page:{

                layout:['prev','page','next','skip','count']

            },

            limit:20,

            toolbar:'#add',

            defaultToolbar:false,

            cols:[[

                {field:'id',title:'编号',width:'4%'},

                {field:'today',title:'连续签到天数',align:'center'},

                {field:'point',title:'奖励积分',align:'center'},

                {field:'add_time',title:'发布时间'},

                {

                    title:'操作',

                    toolbar:'#barDemo'

                }

            ]]

        })

    })

</script>



<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Config/sign_save')}?id={{d.id}}">编辑</a>

    <a class="layui-btn layui-btn-danger layui-btn-xs delete" data-table="sign_config" data-id="{{d.id}}" lay-event="del">删除</a>

</script>



<script type="text/html" id="add">

    <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('Config/sign_save')}">添加配置</a>

</script>

