<include file='common/meta' />
<style>
    .laytable-cell-1-0-2,.laytable-cell-1-0-5{  /*最后的pic为字段的field*/
      height: 100%;
      max-width: 100%;
    } 
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">会员等级</div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:"{:url('User/grade')}",
            method:'post',
            response:{
                statusCode:200
            },
            page:{
                layout:['prev','page','next','skip','count']
            },
            limit:20,
            toolbar:'#add',
            defaultToolbar:false,
            cols:[[
                {field:'id',title:'编号',width:'4%'},
                {title:'参与用户',width:'15%',templet:function(d){
                    var str = '';
                        str += '<img src="'+d.icon+'" alt="" style="width:30px;height:30px;margin-right:10px" />'+d.title;
                    if(d.is_default == 2){
                        str += '<button class="layui-btn layui-btn-xs layui-btn-normal" style="margin-left:5px">默认等级</button>';
                    }
                    return str;
                }},
                {field:'full_price',title:'升级条件'},
                {field:'desc',title:'等级说明',width:'20%'},
                {field:'user_count',title:'会员数量'},
                {field:'discount',title:'等级折扣'},
                {field:'birthday_discount',title:'生日折扣'},
                {title:'积分抵扣',align:'center',width:'6%',templet:function(d){
                    if(d.is_point == 1){
                        return '<button class="layui-btn layui-btn-xs layui-btn-danger">未拥有</button>';
                    } else {
                        return '<button class="layui-btn layui-btn-xs">拥有</button>';
                    }
                }},
                {title:'积分兑换',align:'center',width:'6%',templet:function(d){
                    if(d.is_convert == 1){
                        return '<button class="layui-btn layui-btn-xs layui-btn-danger">未拥有</button>';
                    } else {
                        return '<button class="layui-btn layui-btn-xs">拥有</button>';
                    }
                }},
                {field:'add_time',title:'参加时间'},
                {title:'操作',width:'10%',toolbar:'#barDemo'},
            ]]
        })
    })
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('User/grade_save')}?id={{d.id}}">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs delete" data-table="goods" data-id="{{d.id}}" lay-event="del">删除</a>
</script>

<script type="text/html" id="add">
  <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('User/grade_save')}">添加等级</a>
</script>
