<!-- 编辑器文件库 -->
<link rel="stylesheet" href="__EDIT__/css/froala_editor.min.css">
<link rel="stylesheet" href="__EDIT__/css/font-awesome.min.css">
<script src="__EDIT__/js/froala_editor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="__EDIT__/js/froala_editor_ie8.min.js"></script>
  <![endif]-->

<script src="__EDIT__/js/plugins/tables.min.js"></script>  			<!--表格-->
<script src="__EDIT__/js/plugins/lists.min.js"></script> 			<!--编号-->
<script src="__EDIT__/js/plugins/colors.min.js"></script> 			<!--颜色-->
<script src="__EDIT__/js/plugins/media_manager.min.js"></script>	<!--未知-->
<script src="__EDIT__/js/plugins/font_family.min.js"></script>		<!--字体-->
<script src="__EDIT__/js/plugins/font_size.min.js"></script>		<!--大小-->
<script src="__EDIT__/js/plugins/block_styles.min.js"></script>		<!--样式-->
<!-- <script src="__EDIT__/js/plugins/video.min.js"></script> -->			<!--视频-->
<script src="__EDIT__/js/langs/zh_cn.js"></script>					<!--语言-->

 <!-- 
 用法
 $('#edit').editable({inlineMode: false, alwaysBlank: true}) 
 language: "zh_cn", 声明中文菜单
 imageUploadURL:xxxx  图片上传地址  返回样式为  link:xxx图片地址
 -->